!!! 5
html
head
title Coupon page 1
meta(name='viewport', content='width=device-width, initial-scale=1.0')
//
Bootstrap
link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
link(href='css/style.css', rel='stylesheet', media='screen')
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(type='text/javascript', src='js/revamp.js')
script(type='text/javascript', src='//platform.twitter.com/widgets.js')
body
#fb-root
script
(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=186908498160373";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
script(src='https://code.jquery.com/jquery.js')
script(src='js/bootstrap.min.js')
.container(style='width: 350px;')
div(style='height: 10px;')
img(src='coupon1.jpg', style='width: 350px; margin: auto; display: block;')
.container(style='height: 10px;')
#coupon-container(style='width: 350px; margin: auto; display: block;')
div(style='position: relative;')
img#coupon2(src='coupon2.gif', style='opacity: 0.2; position: absolute; z-index: 0; width: 350px; margin: auto; display: block;')
button#button_active.btn.btn-primary(type='button', style='position: absolute; margin-top: 100px; margin-left: 110px;') Activate Coupon
#form_and_social
#share-form
b Enter your email so we can send your coupon!
div(style='height: 5px;')
form#email-form.form-inline(style='width: 350px; margin: auto;')
.form-group
label.sr-only(for='user-email') Email address
input#user_email_input.form-control(type='email', placeholder='Your email address', style='width: 285px;')
button.btn.btn-primary(type='submit') Save
div(style='height: 10px;')
b ...then share with friends to get your discount!
div(style='height: 5px;')
#share_container.inactive.inac-parent
button#FB-button.social_button(style='border: none;')
button#twitter-button.social_button(style='border: none;')
button#Gp-button.social_button(style='border: none;')
button#tumblr-button.social_button(style='border: none;')
