<!DOCTYPE html>
<html>
  <head>
    <title>Coupon page 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/revamp.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript">
      my_url = "<%= myShareLink %>";
    </script>
  </head>
  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=186908498160373";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <div class="container">
      <img src="revamp-header.png" style="max-width: 100%">
    </div>

    <div class="container">
      <!-- Coupon1 -->
      <div class="coupon_block coupon_image_container">
        <img src="AmazonMockup15.png" class="couponc" >
        <div class="coupon_overlay">
          <button id="button_small" type="button" class="btn btn-lg btn-primary">Click to claim!</button>
        </div>
      </div>
      
      <!-- <div class="or">
        or
      </div> -->
      <!-- <div class="container" style="text-align: center; width: 100%" >
        <b></b>
      </div> -->

      <!-- Coupon2 -->
      <div class="coupon_block vertical-center">
        <div class="coupon_image_container">
          <img id="coupon2" src="AmazonMockup25.png" class="couponc">
          <div id="coupon-container" class="coupon_overlay">
            <span></span>
            <button id="button_active" type="button" class="btn btn-lg btn-primary">Share to unlock!</button>
            <!-- <div>Share to two friends to unlock 40%</div> -->
          </div>

          <div id="form_and_social">
              <div style="height: 10px; "></div>
              <b>1. Share with two friends to get your discount!</b>
              <div style="height: 5px; "></div>
            <div id="share_container" class="inactive inac-parent">
              <button class="social_button" style="border: none;" id="FB-button" ></button>
              <button class="social_button" style="border: none;" id="twitter-button"></button>
              <button class="social_button" style="border: none;" id="Gp-button"></button>
              <button class="social_button" style="border: none;" id="tumblr-button"></button>
              <!-- <button class="social-button" style="border: none;" id="email-button"></button> -->
            </div>
            <div id="share-form">
              <div style="height: 5px; "></div>
              <b>2.   Enter your email so we can send your coupon</b>
              <div style="height:5px;"></div>
              <form id="email-form" class="form-inline" style="width: 350px; margin: auto">
                <div class="form-group">
                    <label class="sr-only" for="user-email">Email address</label>
                    <input type="text" name="myShareLink" value="<%= myShareLink %>"  hidden/>
                    <input type="email" class="form-control" id="user_email_input" placeholder="We promise not to spam you!" style="width: 285px;">
                  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
              </form>
            </div>
        </div>
      </div>


    </div>

  </body>
</html>