.container {
	max-width: 800px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.coupon_block {
	width: 45%;
	display: inline-block;
}

.vertical-center {
	vertical-align: top;
}

.coupon_block:first-child {
	margin-right: 8%;
}

.coupon_image_container {
	position: relative;
}

.couponc {
	opacity: .2;
	width: 100%;
	margin: auto;
	display: block;
	padding: 22px;
	border: 1px dashed black;
	border-radius: 5px;
}

.coupon_overlay {
	position: absolute;
	left: 81px;
	bottom: 131px;
}

.or {
	display: inline;
}

.inac-parent {
	position: relative;
}

.inac-child {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: .5;
}

.fb-send {
	min-width: 90px;
}

#form_and_social {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;
	padding: 13px;
}


.social_button {

}

#FB-button {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(http://s.ytimg.com/yts/imgbin/www-sharing-vflsuIoGD.png);
	background-origin: padding-box;
	background-position: 0px -1842px;
	background-size: 32px;	
	height: 32px;
	width: 32px;
}

#twitter-button {
	height: 32px;
	width: 32px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(http://s.ytimg.com/yts/imgbin/www-sharing-vflsuIoGD.png);
	background-origin: padding-box;
	background-position: 0px -92px;
	background-size: 32px;	
}

#Gp-button {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(http://s.ytimg.com/yts/imgbin/www-sharing-vflsuIoGD.png);
	background-origin: padding-box;
	background-position: 0px -1426px;
	background-size: 32px;
	height: 32px;
	width: 32px;
}

#tumblr-button {
	height: 32px;
	width: 32px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(http://s.ytimg.com/yts/imgbin/www-sharing-vflsuIoGD.png);
	background-origin: padding-box;
	background-position: 0px -873px;
	background-size: 32px;
}

#email-button {
	height: 32px;
	width: 32px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(email.png);
	background-origin: padding-box;
	background-position: 0px 0px;
	background-size: 32px;
}